<hr>
<div class="container-fluid">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa</th>
      
      <th>Stworzono</th>
      <th>Status</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of plans">
      <td>{{plan.name}}</td>
      <td>{{plan.creationDate | date:'medium'}}</td>
      <td>{{plan.status}}</td>
      <td><span style="padding-right:30px">{{plan.id}}</span><button (click)="showDetails(plan)">Pokaz</button></td>
    </tr>
  </tbody>
</table>
</div>
<div class="row">
  <div class="col-lg-6"  style="margin-top: 10px;">
    <pagination [totalItems]="totalCount"
                [(ngModel)]="currentPage" 
                [maxSize]="maxSize" class="pagination-sm"
                [itemsPerPage]="countPerPage"
                [boundaryLinks]="true"
                (numPages)="numPages = $event"
                (pageChanged)="pageChanged($event)">
    </pagination>
    
  </div>
</div>

<div class="container-fluid">
<router-outlet></router-outlet>
</div>
